.checkbox--compare + label {
  display: flex;
  align-items: center;
}
.checkbox--compare + label::before {
  --input-border-width: 1px;
  width: 16px;
  height: 16px;
  margin-top: 0;
  margin-inline-end: 4px;
  border-radius: 20px;
}
.checkbox--compare:checked + label::before {
  border-color: rgb(var(--text-color));
  background-color: rgb(var(--text-color));
}
.checkbox--compare:checked + label::after {
  top: calc(0.75em - 1px);
  left: 8px;
  width: 4px;
  height: 9px;
  border-width: 0 1px 1px 0;
  border-color: rgba(var(--bg-color));
}
[dir=rtl] .checkbox--compare:checked + label::after {
  right: 8px;
}

.card__compare {
  display: flex;
  position: absolute;
  bottom: 8px;
  left: 8px;
  align-items: center;
  padding: 3px 9px 2px 6px;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 20px;
  background-color: #fff;
  color: #222;
  white-space: nowrap;
}

.card__compare label::before,
.card__compare .checkbox--compare:checked + label::before {
  border-color: #555;
  background-color: #fff;
}

.card__compare .checkbox--compare:checked + label::after {
  border-color: #555;
}

.card__compare label {
  font-size: 0.92em;
}

@media (hover: hover) and (pointer: fine) {
  .card__compare {
    visibility: hidden;
    transform: translateY(10px);
    opacity: 0;
  }
  .card--product:hover .card__compare,
  .card--product.is-comparing .card__compare {
    visibility: visible;
    transform: translateY(0);
    opacity: 0.8;
  }
}
.main-products-grid[data-layout=list] .card__compare {
  bottom: 12px;
  left: 12px;
}

.main-products-grid[data-layout=list][data-compare=false] .card__compare {
  display: none;
}

@media (max-width: 768.98px) {
  .main-products-grid[data-layout=list] .card__compare {
    display: inline-block;
    position: static;
    margin-top: 10px;
  }
}